{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">Account {{ account.id }}</h1>
    <table class="table tble-bordered">
        <thead>
        <tr>
            <td>key</td>
            <td>value</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>id</td>
            <td>{{ account.id }}</td>
        </tr>
        <tr>
            <td>name</td>
            <td>{{ account.name }}</td>
        </tr>
        </tbody>

    </table>
{% endblock %}
